//fonts
$headings-font-family: 'nal_handregular', sans-serif;
$font-black: 'Lato_Black', sans-serif;
$font-bold: 'Lato_Bold', sans-serif;
$font-bold-italic: 'Lato_BoldItalic', sans-serif;
$font-italic: 'Lato_Italic', sans-serif;
$font-regular: 'Lato_Regular', sans-serif;
//color
$text-color: #4b4548;
$brown: #921c1e;
$white: #ffffff;
$black: #000000;
$ash: #421f1f;
$pink: #c98e8f;
$yellow: #ffbc00;
$maroon: #2a0708;
$off-white: #ffdfaa;
$blue: #156073;

$line-height-base: 1.3;
$headings-line-height: 1;
$btn-border-radius-base: .9em;
$screen-nav: 650px;
$brand-secondary: #a24458;
$brand-tertiary: #3c70b0;
$brand-quaternary: #fffa96;

$theme: "2016-fall";

@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "vendor/bxslider";
//@import "../vendor/slick-carousel/slick/slick";

@import "sections/layout";
@import "sections/intro";
@import "sections/gallery";
@import "sections/how-to-enter";
@import "sections/prizes";

@import "sections/modals";
@import "sections/rules";

@font-face {
    font-family: 'nal_handregular';
    src: url('../../fonts/nal_hand-webfont.eot');
    src: url('../../fonts/nal_hand-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/nal_hand-webfont.woff2') format('woff2'),
    url('../../fonts/nal_hand-webfont.woff') format('woff'),
    url('../../fonts/nal_hand-webfont.ttf') format('truetype'),
    url('../../fonts/nal_hand-webfont.svg#nal_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_Black';
    src: url('../../fonts/Lato-Black.eot');
    src: url('../../fonts/Lato-Black.eot') format('embedded-opentype'),
    url('../../fonts/Lato-Black.woff') format('woff'),
    url('../../fonts/Lato-Black.ttf') format('truetype'),
    url('../../fonts/Lato-Black.svg#Lato_Black') format('svg');
}

@font-face {
    font-family: 'Lato_Bold';
    src: url('../../fonts/Lato-Bold.eot');
    src: url('../../fonts/Lato-Bold.eot') format('embedded-opentype'),
    url('../../fonts/Lato-Bold.woff') format('woff'),
    url('../../fonts/Lato-Bold.ttf') format('truetype'),
    url('../../fonts/Lato-Bold.svg#Lato_Bold') format('svg');
}

@font-face {
    font-family: 'Lato_BoldItalic';
    src: url('../../fonts/Lato-BoldItalic.eot');
    src: url('../../fonts/Lato-BoldItalic.eot') format('embedded-opentype'),
    url('../../fonts/Lato-BoldItalic.woff') format('woff'),
    url('../../fonts/Lato-BoldItalic.ttf') format('truetype'),
    url('../../fonts/Lato-BoldItalic.svg#Lato_BoldItalic') format('svg');
}

@font-face {
    font-family: 'Lato_Italic';
    src: url('../../fonts/Lato-Italic.eot');
    src: url('../../fonts/Lato-Italic.eot') format('embedded-opentype'),
    url('../../fonts/Lato-Italic.woff') format('woff'),
    url('../../fonts/Lato-Italic.ttf') format('truetype'),
    url('../../fonts/Lato-Italic.svg#Lato_Italic') format('svg');
}

@font-face {
    font-family: 'Lato_Regular';
    src: url('../../fonts/Lato-Regular.eot');
    src: url('../../fonts/Lato-Regular.eot') format('embedded-opentype'),
    url('../../fonts/Lato-Regular.woff') format('woff'),
    url('../../fonts/Lato-Regular.ttf') format('truetype'),
    url('../../fonts/Lato-Regular.svg#Lato_Regular') format('svg');
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.tac {text-align: center;}
.ttu {text-transform: uppercase;}
.tal {text-align: left;}
.left {float: left;}
.right {float: right;}
.rel {position:relative;}
img {max-width: 100%;}
.text-blue { color: #264f7c; }

@media (min-width: $screen-nav) {
    .hidden-sm {display: none!important;}
}
@media (max-width: $screen-nav - 1) {
    .hidden-xs {display: none!important;}
    .hidden-mobile{display: none!important;}
}
@media (max-width: $screen-nav) {
    .hide-sm { display: none; }
}

@media (max-width: 767px) {
  .hide-for-small {
    display: none;
  }
}
@media (max-width: 768px){
    .container {
        width: auto;
    }
}
@media (min-width: 768px) {
  .show-for-small {
    display: none;
  }
}

@media(max-width: 649px){
    .intro {
        .prize-tac{font-family: $font-black; font-size: 37px; color: $brown; text-transform: uppercase;
            &::before{ content: ''; background: url(../../img/icon-star-brown.png) no-repeat center center; background-size: 100%; height: 30px; width: 30px; margin-right: 30px; display: inline-block;}
            &::after{ content: ''; background: url(../../img/icon-star-brown.png) no-repeat center center; background-size: 100%; height: 30px; width: 30px; margin-left: 30px; display: inline-block;}
        }
    }
}

@media (max-width: 640px){
    .intro{ padding-bottom: 610px;}
    .how-to-enter{padding-bottom: 590px;}
    .gallery{padding-bottom: 60px;}
}

@media (max-width: 480px){
    .modal-content{max-width: 100%;
        .item-modal{max-width: 72%;}
    }
    .intro{padding-bottom: 460px;
        p{font-size: 13px;
            span{font-size:13.5px;}
        }
        h1{font-size: 30px;}
        .prize-tac{font-size: 30px;
            &::before{height: 24px; width: 24px; margin-right: 15px;}
            &::after{height: 24px; width: 24px; margin-left: 15px;}
        }
        h3{font-size: 15px;}
        h4{font-size: 13px;}
        h5{
            span{font-size: 15px;}
        }
        .down-btn{bottom: 11%;
            .down-container{width:50%;}
        }
    }
    .gallery{padding-bottom: 110px;
        .container{
            .tac{font-size: 32px;
                &::before{height: 25px; width: 25px; margin-right: 15px;}
                &::after{height: 25px; width: 25px; margin-left: 15px;}
            }
            p{font-size:13px;}
        }
    }
    .how-to-enter {padding-bottom: 480px;
        .outer-container {
            .container {padding:0;
                .tac{font-size: 30px;
                    &::before{height: 25px; width: 25px; margin-right: 10px;}
                    &::after{height: 25px; width: 25px; margin-left: 10px;}
                }
                table{width:90%;
                    tr{
                        .numb{font-size: 20px; padding: 12px 20px;}
                        .text{font-size: 14px; padding-left: 10px;}
                    }

                }
                //ol{width:90%; padding:10px 0;
                //    li{font-size: 14px; padding-left: 55px; margin:0;
                //        &::before{font-size: 20px; padding: 10px 17px;}
                //    }
                //}
            }
        }
    }
    .prizes{padding-bottom: 440px;
        .header{
            .tac{font-size: 30px;
                &::before{height: 25px; width: 25px; margin-right: 10px;}
                &::after{height: 25px; width: 25px; margin-left: 10px;}
            }
        }
    }

}


.pointer {
    cursor: pointer;
}

body,
.month,
.promo,
.ff-hand {
    font-family: $font-regular;
}

.no-hand,
.small-print,
footer {
    font-family: $font-regular;
}

h4 {
    font-size: 51px;
    text-transform: uppercase;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

.btn {
    font-size: 18px;
    background: #264f7c;
    color: #fff;
    text-decoration: none !important;
    line-height: 1;

    &:hover, &:focus {
        color: #fff;
    }
    &.btn-caret {
        &::after {
            content: ' ›';
            font-size: .7em;
            position: relative;
            top: -.1em;
            right: -.1em;
        }
    }
    &.btn-lg {
        font-size: 31px;
        border-radius: 50px;
    }
    &.btn-light {
        background-color: #6b88ab;
    }
    &.btn-smaller {
        font-size: 12px;
    }
}

.embed-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    embed,
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.icon-share-active,
.icon-twitter,
.icon-instagram,
.icon-facebook {
    height: 28px;
    width: 28px;
    background-size: contain!important;
    margin-top: 7px;
    display: inline-block;
}
.icon-share-active{
    background: url(../../img/icon-share-active.png) no-repeat center center;
}
.icon-twitter {
    background: url(../../img/icon-twitter.png) no-repeat center center;
}
.icon-twitter-brand {
    background: url(../../img/icon-twitter-brand.png) no-repeat center center;
}
.icon-facebook {
    background: url(../../img/icon-facebook-brand.png) no-repeat center center;
}
.icon-instagram {
    background: url(../../img/icon-instagram.png) no-repeat center center;
    background-size: auto 100%;
}

.month {
    background: url(../../img/icon-calendar.png) no-repeat 49.9% center;
    height: 63px;
    padding: 17px 0 0 .5%;
    color: $text-color!important;
    position: relative;
    top: -9%;
    margin-bottom: -3%;
}

.icon-share {
    background: url(../../img/icon-share.png) no-repeat center center;
    height: 28px;
    width: 28px;
    display: inline-block;
}
.icon-toggle {
    background: url(../../img/icon-toggle.png) no-repeat center center;
    background-size: contain;
    height: 28px;
    width: 40px;
    display: inline-block;
    position: relative;
    top: -4px;
}


.small-print {
    a {
        text-decoration: underline;
    }
    p {
        font-size: 14px;
    }
    small {
        font-size: 11px;
    }
    .btn {
        font-size: 21px;
    }
}

.month-theme {
    h5 {
        font-size: 23px;
        .theme-name {
            font-size: 31px;
        }
    }
    &.text-content {
        h5 {
            font-size: 31px;
            .theme-name {
                font-size: 42px;
            }
        }
        .btn {
            font-size: 25px;
        }
    }
}


