@import "util/variables";
@import "../../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "util/datepicker";

.inline-block {
  display: inline-block;
}

.btn-block {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.page-header .logo {
  max-width: 250px;
}



/**
 *   Dashboard
 */
.chart-legend {
  text-align: left;
  position: absolute;
  top: 10px;
  right: 25px;

  .doughnut-legend {
    list-style: none;

    span {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 7px;
    }
  }
}


/**
 *   Social Posts
 */
.social-posts {
  .social-image img {
    width: 100%;
  }

  .author-image {
    max-width: 35px;
  }

  .no-matches {
    padding: 75px 0 75px;
    text-align: center;
    font-weight: bold;
  }

  table {
    font-size: 12px;

    td {
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
    }
  }
}
