
.intro {position: relative; font-size: 22px;
  //background: #f5d4d4 url(../../img/#{$theme}/top-bg.jpg) no-repeat center center / cover;
  background: #f5d4d4 url(../../img/top-bg.jpg) no-repeat center top / cover;
  padding-top: 75px;
  padding-bottom: 300px;
  @media (min-width: $screen-sm) {
    padding-top: 250px;
    font-size: 30px;
  }
  @media (max-width: $screen-sm) {
    background: url(../../img/top-bg-mobile.jpg) no-repeat center bottom / cover;
    //background-size: 100% 100%;
    //background-position: center top;
    padding-top: 170px;
    padding-bottom: 750px;
    .right{float: none;}
    .col-sm-6 {
      width: 100%;
    }
  }
  .banner-container{width: 100%; max-width: 470px; margin: 0 auto;}
  p{font-family: $font-regular; font-size: 17px; color: $ash;
    span{font-family: $font-bold; font-size: 17.5px;}
  }
  h1{font-family: $font-black; font-size: 48px; color: $brown; text-transform: uppercase; margin: 10px 0 0;}
  h2{font-family: $font-black; font-size: 77px; color: $brown; text-transform: uppercase; margin: 0 0 10px;}
  h3{font-family: $font-black; font-size: 21px; color: $ash; text-transform: uppercase;}
  .hr{width:90%; line-height: 0.5; margin: 0 auto;
    img{width:100%; height:auto;}
  }
  h4{font-family: $font-regular; line-height: 1.60; font-size: 15px; color: $ash; text-transform: none; text-decoration: none;
    span{font-family: $font-black;}
  }
  h5 {font-family: $font-regular; font-size: 20px;
    span{font-family: $font-black;}
    a{color:$ash;}
  }
  .down-btn{ position: absolute; left: 50%; bottom: 8%; transform: translateX(-50%); -webkit-transform: translateX(-50%); text-align: center;
    p{font-family: $font-black; font-size: 13px; color: $white; text-transform: uppercase;}
    .down-container{ width: 60%; margin: 0 auto;
      img{width:100%; height: auto;}
    }
  }
  .rules{ position: absolute; left:20%; bottom:10px; width:60%; text-align: center;
    
	p{ font-family: $font-regular; font-size: 12px; color: $black;
		a{ color: $black; text-decoration:underline;}
		sup{ color: $black;}
        &.note{ font-size:10px; text-shadow: 1px 1px 1px rgba(255,255,255,0.9);}
	}
    
	@media (max-width: $screen-sm) {
      width:90%; left: 5%;
    }
  }
  .lead {
    font-size: 18px;
    line-height: 1.1;
    max-width: 200px;
    margin: auto;

    @media (min-width: $screen-sm) {
      font-size: 35px;
      max-width: none;
    }
  }
  .content {
    .btn {
      font-size: 23px;
      background: #55a5cc url(../../img/bg-button-yellow.png) repeat center center;
      font-size: 31px;
      text-transform: uppercase;
      line-height: 1;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .icon-twitter,
  .icon-instagram {
    position: relative;
    top: 4px;
  }
  @media (max-width: $screen-xs - 1) {
    .banner {
      padding-top: 40px;
    }
  }
  [class*="content-"] {
    padding: 10px;
    background: #fff;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    width: 49%;
    float: left;
    position: relative;
    z-index: 1;
    transition: .2s all ease-out;
    &.content-2,
    &.content-4 {
      float: right;
    }
    &.content-1,
    &.content-2 {margin-bottom: -8%;}
    &.content-3,
    &.content-4 {margin-top: -8%;}
    &.content-1 {transform: scale(1.1) translateX(-29%) rotate(-9deg) translateY(22%);}
    &.content-2 {transform: scale(0.9) translateX(18%) translateY(30%) rotate(5deg);}
    &.content-3 {transform: scale(1.1) translateX(-25%) rotate(-22deg) translateY(-10%);}
    &.content-4 {transform: rotate(13deg) translateX(30%) translateY(-24%);}
    @media (max-width: $screen-xs - 1) {
      &.content-1 {transform: scale(1.2) translateX(6%) rotate(-5deg) translateY(-5%);}
      &.content-2 {transform: scale(1) translateX(13%) translateY(11%) rotate(5deg);}
      &.content-3 {transform: scale(1.1) translateX(0%) rotate(-3deg) translateY(-4%);}
      &.content-4 {transform: rotate(6deg) translateX(1%) translateY(-4%);}
    }
    @media (min-width: $screen-sm) {
      width: 30%;
      &.content-1, &.content-2 {margin-bottom: -26%;}
      &.content-3, &.content-4 {margin-top: -26%;}
      &.content-1 {transform: scale(1.1) translateX(-15%) rotate(10deg) translateY(7%);}
      &.content-2 {transform: scale(0.8) translateX(10%) translateY(-20%) rotate(3deg);}
      &.content-3 {transform: scale(.8) translateX(-5%) rotate(-2deg);}
      &.content-4 {transform: rotate(13deg) translateX(10%) translateY(-7%);}
    }
  }

  .content-1 {
    //z-index: 2;
  }

  .double-enclosure {
    max-width: 900px;
    clear: both;
    margin: 0 auto;
    @media (min-width: $screen-sm) {
      transform: rotate(.8deg);
      &::after {
        /*
        content: '';
        display: block;
        position: absolute;
        width: 410px;
        height: 270px;
        bottom: -125px;
        margin-left: -307px;
        left: 50%;
        background: url(../../img/#{$theme}/intro-feature.png) no-repeat center center;
        */
      }
    }
  }
  .enclosure {
    position: relative;
    @media (min-width: $screen-sm) {
      background: url(../../img/box-lg.png) no-repeat center bottom / contain;
      height: 0;
      padding-bottom: 56%;
      margin: 0 -15px;
    }
    .text-content {
      padding: 14% 8%;
      @media (max-width: $screen-sm - 1) {
        background: #fff;
        box-shadow: 0 0 12px rgba(0,0,0,.3);
        .month {
          margin-bottom: 10px;
          position: static;
        }
      }
      @media (min-width: $screen-sm) {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 5% 30%;
        @media (max-width: $screen-md) {
          p {
            font-size: 21px;
          }
        }
      }
      .btn {
        font-size: 23px;
      }
    }
  }

  @media(min-width: $screen-md-min) {
    .intro-bottom-image {
      position: absolute;
      width: 410px;
      height: 200px;
      bottom: -17px;
      margin-left: -307px;
      left: 50%;
      z-index: 2;
      background: url(../../img/#{$theme}/intro-feature.png) no-repeat center center;
    }
  }

  .challenge-copy {
    font-size: 26px;
  }

  .download-image {
    position: relative;
    z-index: 2;
    top: 20px;
    font-size: 18px;
    color: #fff;

    a {
      color: #fff;
      text-decoration: underline;
    }

    @media (max-width: $screen-sm) {
      font-size: 15px;
      top: 17px;
    }
  }
}
