//@import "../vendor/magnific-popup";

.modal-content {
  border-radius: 0;
  max-width: 80%;
  margin: auto;
  background-color: transparent;
  box-shadow: none;
  border: 0;

  .item-modal {
    padding: 15px;
    max-width: 60%;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);

    .row{margin:0;}

    .content {
      padding: 0 10px 0 0;
    }

    &.sweepstakes-winner, &.contest-winner {
      &::after {
        left: 3px;
      }
    }

    .thumb {
      //border-right: 1px dotted #f5aa80;
      margin-right: -15px;
      padding-right: 15px;
      .img-container{width:100%; height: 0; padding-bottom: 100%; background-size: cover; background-position: center center;}
    }
    .content {
      font-size: 14px;
      margin-top: 16px;
    }
    @media (min-width: $screen-sm) {

    }
  }

  .next-btn, .prev-btn {
    position: absolute;
    right: -85px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 85px;
    height: 179px;
    background: url(../../img/btn-next.png) top center no-repeat;
    background-size: contain;
    cursor: pointer;

    @media (max-width: ($screen-md - 1)) {
      width:78px;
      height: 160px;
      right: -77px;
    }
  }

  .prev-btn {
    right: auto;
    left: -85px;
    background: url(../../img/btn-prev.png) top center no-repeat;
    background-size: contain;

    @media (max-width: ($screen-md - 1)) {
      left: -77px;
    }
  }
}

.modal-close {
  background: url(../../img/icon-close.png) center center no-repeat;
  position: absolute;
  top: -20px;
  right: -20px;
  background-size: contain;
  width: 44px;
  height: 44px;
  cursor: pointer;

  @media (max-width: ($screen-md - 1)) {
    background-color: #fff;
    border-radius: 50%;
    right: -9px;
    top: -5px;
    width: 30px;
    height: 30px;
    line-height: 1;
    text-align: center;
  }
}

.featured-video-container {
  position: relative;
  padding-bottom: 56.25%;  // 16:9
  height: 0;
  margin-top: 15px;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.center-modal {
  position: fixed;
  height: 100%;

  .modal-dialog {
    top: 50%;
    transform: translateY(-50%) !important;
  }
}