
.prizes {background: url(../../img/prize-bg.jpg) no-repeat center 64% / cover;
  position: relative;
  font-size: 22px;
  //background: #A5A6D5 url(../../img/#{$theme}/bottom-bg.jpg) no-repeat center bottom / 1070px;
  //background-size: cover;
  padding-top: 64px;
  padding-bottom: 600px;
  @media (min-width: $screen-nav) {
    padding-top: 135px;
  }
  @media (min-width: $screen-sm) {
    //background-size: 150%;
    font-size: 29px;
    padding-bottom: 580px;
  }
  @media (max-width: $screen-sm){
    background: url(../../img/prize-bg-mobile.jpg) no-repeat center 70% / cover;
    .col-sm-6 {
      width: 100%;
    }
  }
  @media (min-width: $screen-lg) {
    //background-size: cover;
  }
  @media (max-width: $screen-nav - 1) {
    padding-top:150px;
  }
  @media (min-width: 1500px) {
    padding-bottom: 35%
  }
  .header {
    .btn {
      font-size: 18px;
    }
    .tac{font-family: $font-black; font-size: 37px; color: $white; text-transform: uppercase; margin-bottom: 10px;
      &::before{ content: ''; background: url(../../img/icon-star-white.png) no-repeat center center; background-size: 100%; height: 30px; width: 30px; margin-right: 30px; display: inline-block;}
      &::after{ content: ''; background: url(../../img/icon-star-white.png) no-repeat center center; background-size: 100%; height: 30px; width: 30px; margin-left: 30px; display: inline-block;}
    }
  }
  .weekly { background: url(../../img/hr-white-vertical.png) no-repeat right top; background-size: auto 100%;
    .prize-container{ float: right; margin-right: 20px;}
  }
  .grand .prize-container{ float: left; margin-left: 20px;}
  .prize-container{width: 40%; text-align: center;
    h2{font-family: $font-bold; font-size: 28px; color: $white; margin-bottom: 20px;}
    p{font-family: $font-regular; font-size: 14px; color: $white;}
    h3{font-family: $font-bold; font-size: 37px; color: $yellow;}
  }
  @media (max-width: $screen-sm){
    .weekly .prize-container{float:none; margin:0 auto; margin-bottom: 50px;}
    .grand .prize-container{float:none; margin:0 auto;}
    .prize-container{width:100%; max-width: 230px;}
  }
  .rules{position: absolute; left:20%; bottom:10px; width:60%; text-align: center;
    p{font-family: $font-regular; font-size: 10px; color: $white;  text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
      a{color:$white; text-decoration: underline;}
    }
    @media (max-width: $screen-sm) {
      width:90%; left: 5%;
    }
  }

  [class*="prize-"] {

    .prize-content {
      background: url(../../img/prize-background.png) no-repeat top center;
      background-size: 100% 100%;
      padding: 0 40px 20px;
      color: $text-color;
      margin-top: 60px;
      line-height: 1;

      @media(min-width: $screen-sm-min) {
        min-height: 665px;
      }
    }

    &> h5 {
      font-size: 22px;
      text-transform: uppercase;
      color: #fff;
      display: inline-block;
      padding: 3px 10px;
      position: relative;
      margin-bottom: -40px;
      top: -20px;

      @media (min-width: $screen-md) {
        top: -40px;
        font-size: 52px;
      }
    }
  }
  .img-holder {
    height: 0;
    padding-bottom: 55%;
  }
  .prize-contest {
    h5:first-child {
      background: $brand-secondary;
    }
    .img-holder {
      background: url(../../img/content-1000.png) no-repeat center center / contain;
    }
  }
  .month-theme {
    margin-top: 16px;

    .month {
      padding-top: 22px;
    }
    .text-tertiary {
      color: $brand-tertiary;
    }
  }
  .month {
    margin-bottom: 0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 30%;
      height: 2px;
      background: #584b4a;
      top: 32px;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .prize-sweeps {
    h5 {
      background: $brand-tertiary;
    }
    .img-holder {
      position: relative;
      background: url(../../img/content-photobook.png) no-repeat center center;
      margin-top: 50px;

      @media (max-width: $screen-md-max) {
        background-size: contain;
      }

      span {
        position: absolute;
        top: -3px;
        left: 70%;
      }
    }
  }

  .awarded-as {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: 50px;
  }
}
